footer {
    li a path {
        @apply transition;
    }
    li:nth-child(1),
    li:nth-child(4) {
        a:hover path {
            fill: theme('colors.red');
        }
    }
    li:nth-child(2),
    li:nth-child(5) {
        a:hover path {
            fill: theme('colors.yellow');
        }
    }   
    li:nth-child(3) {
        a:hover path {
            fill: theme('colors.blue');
        }
    }     
}