.blobs {
    * {
        position: absolute;
        z-index: -1;
    }
    &__yellow {
        top: 23vh;
        max-width: 23vw;
    }
    &__red {
        top: 0;
        right: 0;
        max-width: 60vw;
    }
    &__blue {
        right: 10vw;
        top: 50vh;
        max-width: 25vw;
    }
}