---
import Layout from "../layouts/Layout.astro";
---

<style>
  #title-underline {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  #title-underline.in-view {
    animation: drawLine 1.25s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: .6s;
  }
  #video {
    -webkit-mask-image:url(/film-frame.png);
    -webkit-mask-position:left top;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-size:100% 100%;
  
    mask-image:url(/film-frame.png);
    mask-position:left top;
    mask-repeat:no-repeat;
    mask-size:100% 100%;
  }
  @keyframes drawLine {
      to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      }
    }
    @media (orientation: landscape) and (max-height: 680px){
      .video-wrap {
        padding: 12px;
        min-width: 40vw;
      }
      .video-wrap h3 {
        font-size: clamp(90px,11vw,240px);
      }
      #tape-headline {
        display: none;
      }
    }
    @media (orientation: landscape) and (max-height: 450px){
      .video-wrap {
        min-width: 55vw;
      }
    }
</style>

<Layout>
  <div id="video-controls" class="invisible transition-smooth">
    <svg id="video-close-trigger" class="w-6 h-6 absolute top-6 right-6 transition-smooth cursor-pointer supports-hover:hover:opacity-40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 0 25 25"><g stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m3 21.32 18-18M3 3.32l18 18"/></g></svg>
    <div id="video-audio" class="absolute top-6 right-[66px]">
      <svg id="video-unmute" class="absolute top-0 -left-6 w-6 h-6 transition-smooth cursor-pointer supports-hover:hover:opacity-40" fill="#ffffff" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1129.432 113v1694.148H936.638l-451.773-451.773h-315.45C76.01 1355.375 0 1279.365 0 1185.96V734.187c0-93.404 76.01-169.414 169.415-169.414h315.45L936.638 113h192.794Zm-112.943 112.943h-33.093l-418.68 418.68v630.901l418.68 418.68h33.093V225.944Zm655.488 135.114C1831.904 521.097 1920 733.77 1920 960.107c0 226.226-88.096 438.898-248.023 598.938l-79.851-79.85c138.694-138.695 214.93-323.018 214.93-519.087 0-196.183-76.236-380.506-214.93-519.2Zm-239.112 239.745c95.663 97.018 148.294 224.644 148.294 359.272s-52.631 262.254-148.294 359.272l-80.529-79.286c74.769-75.785 115.88-175.175 115.88-279.986 0-104.811-41.111-204.201-115.88-279.986Zm-981.092 76.914H169.415c-31.06 0-56.472 25.3-56.472 56.471v451.773c0 31.172 25.412 56.472 56.472 56.472h282.358V677.716Z" fill-rule="evenodd"></path> </g></svg>  
      <svg id="video-mute" class="absolute top-0 -left-6 w-6 h-6 transition-smooth cursor-pointer supports-hover:hover:opacity-40 invisible" fill="#ffffff" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1129.432 113v1694.148H936.638l-451.773-451.773h-315.45c-92.47 0-167.893-74.498-169.392-166.618L0 1185.96V734.187c0-92.47 74.498-167.892 166.618-169.392l2.797-.022h315.45L936.638 113h192.794Zm-112.943 112.943h-33.093l-418.68 418.68v630.901l418.68 418.68h33.093V225.944Zm823.662 411.78L1920 717.571l-242.372 242.372L1920 1202.428l-79.85 79.85-242.484-242.372-242.372 242.372-79.85-79.85 242.372-242.484-242.371-242.372 79.85-79.85 242.37 242.372 242.486-242.372ZM451.773 677.715H169.415c-30.749 0-55.963 24.796-56.464 55.538l-.008.933v451.773c0 30.86 24.907 55.965 55.542 56.464l.93.008h282.358V677.716Z" fill-rule="evenodd"></path> </g></svg>    
    </div>
  </div>
  <section class="relative sm:w-full md:w-[90vw] md:py-6">
    <div
      class="video-wrap flex items-center border-2 border-transprent p-[clamp(12px,11vmin,64px)]  max-h-[90vh] relative overflow-hidden sm:p-4 sm:py-6 md:p-8 md_min:min-w-[clamp(600px,60vw,900px)] md_min:aspect-[16/12]"
    >
      <div class="container md:px-0">
        <div class="video-dim relative z-10 left-4 md:hidden md_min:top-[clamp(5px,2.5vw,12px)]">
          <p class="caps-12" data-viewport="typography-shift">
            <span>2023</span>
          </p>
          <h2
            class="caps-14"
            data-viewport="typography-shift"
            data-viewport-delay=".25"
          >
            <span>Brice Christian</span>
          </h2>
        </div>
        <h3
          class="video-dim font-heading text-[clamp(90px,14vw,230px)] leading-none relative z-10 md:text-[clamp(90px,25vmin,240px)] sm:text-[clamp(70px,24vw,240px)]"
        >
          <span data-viewport="typography-shift" data-viewport-delay=".4">
            <span class="inline-flex -rotate-[5deg]">Portfolio</span>
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="title-underline"
            class="-scale-y-100 -rotate-[5deg] -translate-y-3"
            data-viewport
            viewBox="0 0 1576 141"
            ><path
              d="M153.58 20.56c54.61 7.77 11.57 2.06 114.89 15.59 13.33 1.74 90.26 10.48 91.36 10.58 134.57 12.96 190.69 18.5 388.54 25.15 129.22 1.29 93.08 1.1 154.55.57 81.39-.71 59.62-.04 125.55-4.57 63.95-4.4 45.79-3.03 63.95-4.82 122.74-12.1 74.45-6.7 196.81-22.16.11-.01 87.68-12.88 144.71-23.82l59.43-11.39c1.85-.35 3.34 1.62 4.26 2.89 5.62 7.81 7.57 23.36 5.18 27.51 24.07-1.73 36.84-3.04 53.78-2.26 2.94.14 5.88.72 8.79 1.14 7.63 2.7 13.25 29.31 8.37 33.57a11.5 11.5 0 0 1-6.34 3.04 61.01 61.01 0 0 1-21.5 10.23c-4.78 1.12-7.26 1.09-26.8 2.32-26.15 1.64-20.08 2.59-70.36 10.41-124.17 19.35-260.96 36.26-386.48 42.12-203.77 9.49-418.63-.99-621.76-19.77C188.84 102.05 36.15 75.18 30.07 74.7a10.51 10.51 0 0 1-4.75-1.64c-1.91-1.23-3.06-3.52-4.14-5.42-5.56-9.8-6.47-22.79-4.73-27.16-2.45-1.29-4.88-2.65-7.33-3.91C4.2 34.06-2.72 12.7 1.11 4.47c.85-1.32 1.61-2.4 2.71-3.52C4.57.19 5.83 0 6.95 0c7.42 0 128.62 17.94 146.63 20.56Z"
              fill="currentColor"></path></svg
          >
        </h3>
        <div class="video-dim flex justify-end pr-6 md_min:-mt-4" data-viewport="fade-in" data-viewport-delay=".5">
          <a href="#" id="video-trigger" class="button-arrow relative z-10">Dim the Lights</a>
        </div>
        <div data-viewport="fade-in" data-viewport-delay=".55">
          <!-- <video
            preload="true"
            playsinline=""
            autoplay=""
            muted=""
            loop
            style="width:100%"
            id="video"
            class="absolute top-0 left-0 h-full w-full object-cover opacity-40 transition-smooth"
          >
            <source src="/sample.mp4" type="video/mp4" />
          </video> -->
          <script src="https://cdn.jsdelivr.net/npm/@mux/mux-video@0" defer></script>
          <mux-video
            playback-id="bFdNhXh2eN6hgOttbVCMjEeNmVVK3VkPoDOzcywtoLU"
            stream-type="on-demand"
            playsinline
            loop
            muted
            autoplay
            id="video"
            class="absolute top-0 left-0 h-full w-full object-cover opacity-40 transition-smooth"
          ></mux-video>    
        </div>
      </div>
    </div>
    <div
      id="tape-headline"
      class="video-dim absolute top-[clamp(-180px,-17vw,-20px)] -right-20 h-[100px] w-[clamp(140px,40vw,510px)] md:hidden"
    >
    <div data-viewport="fade-in" data-viewport-delay=".75">
      <img
        src="/tape.png"
        loading="eager"
        width="600"
        height="80"
        class="w-full max-w-[clamp(140px,40vw,510px)]"
      />
      <h2
        class="font-heading text-black text-[clamp(30px,5.5vw,70px)] leading-none absolute rotate-[21deg] top-[clamp(20px,16.5vw,218px)] right-[clamp(40px,7vw,92px)] z-10 mix-blend-hard-light"
      >
        Videography
      </h2>
    </div>
    </div>
  </section>
</Layout>

<script defer>
  let $videoDimTrigger = document.getElementById("video-trigger");
  let $videoDimCloseTrigger = document.getElementById("video-close-trigger");
  let $video = document.getElementById("video");
  let $videoControls = document.getElementById("video-controls");
  let $videoMute = document.getElementById("video-mute");
  let $videoUnmute = document.getElementById("video-unmute");
  $videoDimTrigger.onclick = (e) => {
    e.preventDefault();
    $videoControls.classList.remove("invisible");
    document.querySelectorAll(".video-dim").forEach($el => {
      $el.classList.add("video-dim--dimmed")
    })
    $video.classList.remove("opacity-40");
    $video.muted = false;
    $videoMute.classList.add("invisible");
    $videoUnmute.classList.remove("invisible");
  }
  $videoDimCloseTrigger.onclick = (e) => {
    e.preventDefault();
    $videoControls.classList.add("invisible");
    document.querySelectorAll(".video-dim").forEach($el => {
      $el.classList.remove("video-dim--dimmed")
    })
    $video.classList.add("opacity-40");
    $video.muted = true;
    $videoMute.classList.remove("invisible");
    $videoUnmute.classList.add("invisible");
  }
  document.onkeydown = function(evt) {
    evt = evt || window.event;
    if (evt.keyCode == 27) {
      $videoControls.classList.add("invisible");
      document.querySelectorAll(".video-dim").forEach($el => {
        $el.classList.remove("video-dim--dimmed")
      })
      $video.classList.add("opacity-40");
      $video.muted = true;
      $videoMute.classList.remove("invisible");
      $videoUnmute.classList.add("invisible");
    }
  };   
  $videoMute.onclick = (e) => {
    e.preventDefault();
    $video.muted = false;
    $videoMute.classList.add("invisible");
    $videoUnmute.classList.remove("invisible");
  }
  $videoUnmute.onclick = (e) => {
    e.preventDefault();
    $video.muted = true;
    $videoMute.classList.remove("invisible");
    $videoUnmute.classList.add("invisible");
  } 
</script>