<header class="header video-dim">
    <div class="flex top-0 left-0 h-full md_min:absolute md_min:top-6 md_min:left-6" data-viewport="fade-in" data-viewport-delay=".5">
        <div class="container-full flex relative">           
            <div class="flex md:flex-col md:items-center md_min:gap-4">
                <h2 class="md_min:hidden">Brice Christian</h2> 
                <p>Web Developer</p>
                <p class="md:hidden">//</p>
                <p>Videographer</p>
            </div>
        </div>
    </div>
</header>