@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/typography.scss';
@import './components/footer.scss';
@import './components/home/blobs.scss';

@layer base {
    body {
        @apply font-body bg-black text-white;
    }
    h1 {
        @apply font-caps font-normal text-5xl;
    }
    h2 {
        @apply font-heading font-normal text-3xl;
    }
}

@layer components {
    .container-base {
        @apply w-full mx-auto px-8;
        max-width: 1440px;
        @screen md {
            @apply px-20;
        }
      }
      .container {
        @apply container-base;
        max-width: 1440px;
        &-full {
          @apply container-base;
          max-width: 100%;
        }
        &-960 {
          @apply container-base;
          max-width: 960px;
        }
      }    
}

@layer utilities {
    .transition {
        transition: .3s;
    }
}
